.job{
  height:100vh;
  overflow: hidden;
  text-align: left;
  background-color:#eff5ff;
}

.logo{
  width:50%;
  margin:0 auto;
  max-width:4rem;
}

.job-info-ul{
  width:93%;
  margin:1rem auto;
  list-style-type: none;
}

.job-info-ul li{
  margin: 1.5rem 0;
}

.info-header{
  margin-left:.5rem;
  font-size:1.4rem;
  margin-bottom:2rem;
}

.newjoblist-header{
  background-color:#f9f4ff;
}

.job .newjoblist-header h1, .jobheader-h1{
  font-size:1.5rem;
}

.header-hr{
  margin-bottom: 1rem;

}



.job-bottom-nav{
  background-color:#333;
  color:#e25526;
  text-align: center;
  position:absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size:2rem;
  padding:.1rem 0;
}

.description{
  width:95%;
  margin:0 auto;
  min-height:5rem;
}

.post-url{
  width:90%;
}

.job-info-ul input{
  border-radius:2px;
  height:1.2rem;
  font-size:1rem;
  width:75%;
  border:none;
  background-color:#eff5ff;
}

.job-info-ul textarea{
  border-radius:5px;
  border:1px solid #bbb;
  background-color:#eff5ff;
  padding:.25rem;
}

.update-btn{
  background-color:#4286f4;
  display:block;
  width:80%;
  margin:0 auto;
  padding:.5rem;
  font-size:1rem;
}
