*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}




.login-wrapper{
  display: flex;
  flex-direction: row;
  font-family:Roboto;
  font-weight: 300;
  background: #181818;
  color: #f4f4f4;
  overflow: hidden;
}

.left{
  display:flex;
  flex-direction: column;
  flex:1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.right{
  flex:1;
}

/* Sign In */

.signin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

.signin form{
  width: 80%;
  padding-bottom:3rem;
}

.signin .logo{
  margin-bottom: 8vh;
  font-family: 'Roboto';
  font-size:2rem;
}

.signin label{
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

.signin .text-input{
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 3px;
  background: #181818;
  border: 1px solid #555;
  color: #ccc;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

.signin .secondary-btn, .or, .links{
  width:60%;
}

.forgot-password{
  color:#f4f4f4;
  text-decoration: none;
  margin-bottom: 1rem;
  display:block;
  text-align: center;
  font-size: 0.9rem;
  transition: all 0.3s;
}

.forgot-password:hover{
  text-decoration: underline;
  color:#f96816;
}

.or{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}


 .or .bar{
  flex: auto;
  border: none;
  height:1px;
  background:#eee;
}

.signin .or span{
  color:#ccc;
  padding: 0 0.8rem;
}

#showcase .showcase-text{
  font-size: 4rem;
  width:100%;
  color: #f96816;
  margin-bottom: 1.5rem;
  font-family: 'Lobster Two';
  letter-spacing: .2rem;
  word-spacing: .5rem;
}

#showcase{
  background: url('http://localhost:3000/login-right.jpg') no-repeat center center/cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-container{
  margin-top:-5rem;
  background-color:black;
  opacity: 0.85;
  border-radius:10px;
  padding:1rem;
}

#showcase .secondary-btn{
  width: 60%;
  margin: auto;
  font-size:1rem;
}


/* Buttons */
.signin .primary-btn{
  width: 100%;
  font-size:1rem;
}


.primary-btn{
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 3px;
  font-weight: 500;
  background: #f96816;
  color:#f4f4f4;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s;
}

.primary-btn:hover{
  background-color: #ff7b39;
}

.secondary-btn{
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 3px;
  font-weight: 500;
  background: none;
  color:#f4f4f4;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.secondary-btn:hover{
  border-color: #ff7b39;
  color: #ff7b39;
}

/* Media Queries */
@media(min-width: 1200px){
  .left{
    flex: 4;
  }

  .right{
    flex: 6;
  }
}

@media(max-width:768px){
  body{
    overflow: auto;
  }
  .right{
    display: none;
  }
  .left{
    justify-content: start;
    margin-top:4vh;
  }
  .logo{
    margin-top: 5vh;
    font-size:2.5rem;
  }
  .signin .text-input{
    margin-bottom: 0.7rem;
  }

}
