.tasks{
  background-color:#eff5ff;
  height:100vh;
}

.task-intro{
  text-align: left;
  margin-left:2rem;
}

.add-task-btn{
  color:#aaa;
  font-size:1rem;
  margin-top:1.5rem;
}

.add-task-btn i{
  margin-right:.5rem;
}

.task-form{
  background-color:#eff5ff;
  height:100vh;
  position: relative;
}

.task-form header{
  padding-top:1rem;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom:1rem;
}

.task-form h3{
  grid-column: 2/3;
}

.task-form p{
  grid-column: 3/4;
}

.suggestions{
  display:grid;
  grid-gap:1rem;
  width:90%;
  margin: 1rem auto;
  grid-template-columns: 1fr 1fr;
}

.suggestions > div{
  background-color:#ffe3bc;
  padding:.5rem;
  border-radius:5px;
}

.cold-contact{
  background-color:#ffe3bc;
  padding:.5rem;
  border-radius:5px;
  width:70%;
  margin:0 auto;
}

.add-task-form input{
  width: 100%;
  height:3rem;
  font-size:1.3rem;
}

.add-task-form{
  position: absolute;
  bottom:2rem;
  width: 100%;
}

.task{
  text-align: left;
  margin: 1rem 2rem;
}
.label{
  display:block;
  width:100%;
  margin-left:.2rem;
  text-align: left;
}

.task-check{
  margin-left:1rem;
}
